/* ==========================
   GENRE BADGE
========================== */

.genre-badge{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    padding:8px 16px;

    margin:5px;

    border-radius:20px;

    background:#1f1f1f;

    border:1px solid #333;

    color:#F5C518;

    font-size:14px;

    font-weight:500;

    transition:.3s;

}

/* ==========================
   HOVER
========================== */

.genre-badge:hover{

    background:#F5C518;

    color:#000;

    border-color:#F5C518;

    cursor:pointer;

}