/* ==========================
   MOVIE LINK
========================== */

.movie-link {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
}

/* ==========================
   CARD
========================== */

.movie-card {

    width: 100%;

    transition: .35s;


}

/* ==========================
   POSTER
========================== */

.poster-wrapper {

    position: relative;

    overflow: hidden;

    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.movie-poster {

    width: 100%;

    aspect-ratio: 2 / 3;

    object-fit: cover;

    display: block;

    transition: .35s;

}

/* ==========================
   OVERLAY
========================== */

.poster-overlay {

    position: absolute;

    inset: 0;

    background: rgba(0, 0, 0, .70);

    display: flex;

    justify-content: center;

    align-items: center;

    opacity: 0;

    transition: .35s;

}

.poster-overlay button {

    background: #F5C518;

    color: black;

    border: none;

    padding: 10px 20px;

    border-radius: 5px;

    font-weight: 600;

    cursor: pointer;

}

/* ==========================
   HOVER
========================== */

.movie-card:hover .poster-overlay {

    opacity: 1;

}

.movie-card:hover .movie-poster {

    transform: scale(1.08);

}

/* ==========================
   CONTENT
========================== */

.movie-content {

    margin-top: 12px;

}

.movie-content h3 {

    font-size: 16px;

    margin-bottom: 8px;

    white-space: nowrap;

    overflow: hidden;

    text-overflow: ellipsis;

}

.movie-card .movie-meta {

    display: flex;

    justify-content: space-between;

    color: #b8b8b8;

    font-size: 14px;

}