/* ==========================
   CARD
========================== */

.cast-link{

    text-decoration:none;

    color:white;

}

.cast-card{

    width:170px;

    background:#181818;

    border-radius:12px;

    overflow:hidden;

    transition:.3s;

    cursor:pointer;

}

.cast-card:hover{

    transform:translateY(-6px);

}

/* ==========================
   IMAGE
========================== */

.cast-card img{

    width:100%;

    height:240px;

    object-fit:cover;

}

/* ==========================
   INFO
========================== */

.cast-info{

    padding:15px;

}

.cast-info h3{

    font-size:16px;

    margin-bottom:8px;

    white-space:nowrap;

    overflow:hidden;

    text-overflow:ellipsis;

}

.cast-info p{

    color:#a0a0a0;

    font-size:14px;

}